# Byte-compiled / optimized
__pycache__
*.py[co]

# Distribution / packaging
build/
_build/
dist/
*.egg-info/
.ipynb_checkpoints/
arepytools/meta.yaml
conda_build_dir

# Pyenv
.python-version

# VS Code project settings
.vscode

# PyCharm project settings
.idea

# Spyder project settings
.spyproject

# Environments
venv*

# Other
*.bak
.coverage
htmlcov
xsd/*xsd
